XPlatformExample/.dist/*
XPlatformExample/.temp/*
XPlatformExample/bower_components/*
XPlatformExample/node_modules/*
XPlatformExample/bower_components/*
XPlatformExample/node_modules/*
XPlatformExample/Properties/PublishProfiles/*
packages/*
XPlatformExample/bin/*
XPlatformExample/obj/*
XPlatformExample/cache/*
XPlatformExample/cordova/*
!XPlatformExample/cordova/config.xml
XPlatformExample/nwjs/*
!XPlatformExample/nwjs/package.json
.vs/*
